
    [data-gjs-type="heading"]:empty {
      text-decoration: none;
      padding: 5px;
      
      
    }
    [data-gjs-type="heading"]:empty:before {
      background-color: #ddd;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding: 0 10px;
      opacity: 0.3;
      border-radius: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      content: "Heading";
      
      
      
    }

    [data-gjs-type="text"]:empty {
      text-decoration: none;
      padding: 5px;
      
      
    }
    [data-gjs-type="text"]:empty:before {
      background-color: #ddd;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding: 0 10px;
      opacity: 0.3;
      border-radius: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      content: "Text";
      
      
      min-height: auto; font-size: inherit;
    }

    [data-gjs-type="link"]:empty {
      text-decoration: none;
      padding: 5px;
      
      
    }
    [data-gjs-type="link"]:empty:before {
      background-color: #ddd;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding: 0 10px;
      opacity: 0.3;
      border-radius: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      content: "Link";
      
      
      
    }

    [data-gjs-type="wrapper"]:empty {
      text-decoration: none;
      padding: 5px;
      
      padding: 0;
    }
    [data-gjs-type="wrapper"]:empty:before {
      background-color: #ddd;
      color: #000;
      font-size: 16px;
      font-weight: bold;
      font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 30px;
      padding: 0 10px;
      opacity: 0.3;
      border-radius: 3px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      content: "Body";
      
      
      height: 100vh
    }

      .gjs-dashed [data-gjs-highlightable][data-gjs-type="data-variable"],.gjs-dashed [data-gjs-highlightable][data-gjs-type="data-condition"],.gjs-dashed [data-gjs-highlightable][data-gjs-type="data-collection"] {
        outline: 2px dotted #8b5cf6;
      }

      .gjs-dashed *[data-gjs-type="data-condition-true-content"],
      .gjs-dashed *[data-gjs-type="data-condition-false-content"] {
        outline: none !important;
      }

      [data-gjs-type="data-variable"]::before,
      [data-gjs-type="data-condition-true-content"]::before,
      [data-gjs-type="data-condition-false-content"]::before {
          content: var(--before-content);
          font-style: italic;
          color: #666;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          font-size: .9rem;
          font-weight: 500;
          font-family: sans-serif;
      }
    

      
    body { background-color: #fff }
    * ::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1) }
    * ::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.2) }
    * ::-webkit-scrollbar { width: 10px }
  

      

      [data-gjs-type="wrapper"] {
        min-height: 100vh;
        padding-top: 0.001em;
      }

      .gjs-dashed *[data-gjs-highlightable] {
        outline: 1px dashed rgba(170,170,170,0.7);
        outline-offset: -2px;
      }

      .gjs-selected {
        outline: 2px solid #3b97e3 !important;
        outline-offset: -2px;
      }

      .gjs-selected-parent {
        outline: 2px solid #ffca6f !important
      }

      .gjs-no-select {
        user-select: none;
        -webkit-user-select:none;
        -moz-user-select: none;
      }

      .gjs-freezed {
        opacity: 0.5;
        pointer-events: none;
      }

      .gjs-no-pointer {
        pointer-events: none;
      }

      .gjs-pointer-init {
        pointer-events: initial;
      }

      .gjs-plh-image {
        background: #f5f5f5;
        border: none;
        height: 100px;
        width: 100px;
        display: block;
        outline: 3px solid #ffca6f;
        cursor: pointer;
        outline-offset: -2px
      }

      .gjs-grabbing {
        cursor: grabbing;
        cursor: -webkit-grabbing;
      }

      .gjs-is__grabbing {
        overflow-x: hidden;
      }

      .gjs-is__grabbing,
      .gjs-is__grabbing * {
        cursor: grabbing !important;
      }

      
      [contenteditable] { outline: 0px solid transparent;}
    
      * { box-sizing: border-box; } body {margin: 0;}
    
body{background-color:#e7e7e7;font-family:Arial, sans-serif;margin:0;min-height:100vh;display:flex;justify-content:center;align-items:center;}
.head{padding:50px 50px 35px;}
.logo{max-width:250px;display:block;margin:0 auto;}
.card{max-width:600px;padding:40px;background-color:#ffffff;border-radius:20px;margin:0 auto;color:#333333;font-size:16px;width:100%;text-align:center;box-shadow:0 10px 25px rgba(0, 0, 0, 0.08);}
.title{color:#222222;font-size:32px;font-weight:bold;margin:0;text-align:center;margin-bottom:30px;}
.subtitle{text-align:center;margin:0;padding:25px 0;}
.paragraph{line-height:1.5;margin-bottom:40px;}
.link{color:#af4e8a;text-decoration:none;font-size:13px;}
.footer{margin-top:30px;text-align:center;font-size:18px;color:#555555;}

*{box-sizing:border-box;}
.container{width:100%;padding:20px;display:flex;justify-content:center;}
.image{width:300px;max-width:100%;border-radius:12px;margin-bottom:25px;}

#iigae{background-color:#a976a5;}


